{"openapi":"3.1.0","info":{"title":"OpenAPI definition","version":"v0"},"servers":[{"url":"http://api.baton-running-app.kro.kr:8080","description":"Generated server url"}],"security":[{"bearerAuth":[]}],"tags":[{"name":"Follow","description":"친구 신청·수락·거절·조회 API"},{"name":"Point","description":"포인트"},{"name":"Member","description":"계정 관련 API"},{"name":"Run","description":"러닝 기록"},{"name":"GroupRunning","description":"그룹 러닝 모집 및 참여"},{"name":"Profile","description":"프로필 관련 API"},{"name":"Shop","description":"포인트 상점"},{"name":"Ranking","description":"주간/월간 랭킹"},{"name":"MyRoom","description":"마이룸(코어 컬러 · 칭호 목록)"},{"name":"Title","description":"칭호 관련 API"}],"paths":{"/deploy":{"post":{"tags":["deploy-controller"],"operationId":"deploy","parameters":[{"name":"X-Deploy-Secret","in":"header","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string"}}}}}}},"/api/v1/spots/{spotId}/checkin":{"post":{"tags":["spot-controller"],"operationId":"checkin","parameters":[{"name":"spotId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SpotCheckinRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseSpotCheckinResponse"}}}}}}},"/api/v1/shop/purchases":{"post":{"tags":["Shop"],"summary":"상품 구매","description":"포인트를 차감하고 구매 내역을 저장합니다.","operationId":"purchase","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Purchase"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponsePurchaseResult"}}}}}}},"/api/v1/runs/{runId}/finish":{"post":{"tags":["Run"],"summary":"러닝 종료","description":"러닝을 종료하고 경로 기반 거리/포인트를 저장합니다.","operationId":"finish","parameters":[{"name":"runId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RunFinishRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseRunFinishResponse"}}}}}}},"/api/v1/runs/start":{"post":{"tags":["Run"],"summary":"러닝 시작","description":"러닝을 시작합니다.","operationId":"start","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RunStartRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseRunStartResponse"}}}}}}},"/api/v1/profile/equip":{"post":{"tags":["Profile"],"summary":"칭호 장착","description":"소유하고 있는 칭호 장착","operationId":"equipTitle","parameters":[{"name":"titleId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseMyProfileTitle"}}}}}}},"/api/v1/member/password":{"post":{"tags":["Member"],"summary":"비밀번호 변경","description":"기존 비번 확인 후 새 비번으로 변경 (변경 후 토큰 만료)","operationId":"changePassword","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PasswordChange"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseString"}}}}}}},"/api/v1/member/logout":{"post":{"tags":["Member"],"operationId":"logout","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseString"}}}}}}},"/api/v1/member/login":{"post":{"tags":["Member"],"operationId":"login","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Login"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseLoginResponse"}}}}}}},"/api/v1/member/join":{"post":{"tags":["Member"],"summary":"회원가입","description":"새로운 사용자 회원가입","operationId":"join","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Join"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseLong"}}}}}}},"/api/v1/groups":{"get":{"tags":["GroupRunning"],"summary":"그룹 러닝 목록 조회","description":"모집 중인 그룹 러닝 목록을 페이지네이션으로 조회합니다.\n- 기본 정렬: 시작 시간 내림차순\n- `isParticipating`: 내가 이미 참여 중인 그룹인지 여부\n","operationId":"groupList","parameters":[{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseSliceGroupSummary"}}}}}},"post":{"tags":["GroupRunning"],"summary":"그룹 러닝 생성","description":"그룹 러닝 모집글을 생성합니다. 생성자는 자동으로 방장(HOST)이 됩니다.","operationId":"groupAdd","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/groupAdd"},"example":{"title":"한강 저녁 러닝 같이 달려요!","content":"페이스 6분대 환영, 반포대교 집합입니다.","maxParticipants":4,"startTime":"2026-06-10T19:00:00","endTime":"2026-06-10T20:00:00","distance":5,"location":"반포 한강공원","address":"서울특별시 서초구 반포동 1"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseLong"}}}}}}},"/api/v1/groups/{groupId}/run/start":{"post":{"tags":["GroupRunning"],"summary":"그룹 러닝 시작","description":"방장이 러닝을 시작합니다.\n- 시작 시간이 지난 경우에만 호출 가능합니다.\n- 이미 종료된 그룹은 시작할 수 없습니다.\n","operationId":"runStart","parameters":[{"name":"groupId","in":"path","description":"시작할 그룹 ID","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseGroupDetail"}}}}}}},"/api/v1/groups/{groupId}/run/finish":{"post":{"tags":["GroupRunning"],"summary":"그룹 러닝 종료","description":"방장이 러닝을 종료합니다.\n- RUNNING 상태인 그룹만 종료할 수 있습니다.\n- 종료 후 웹소켓 종료 이벤트 발행 예정.\n","operationId":"runFinish","parameters":[{"name":"groupId","in":"path","description":"종료할 그룹 ID","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseGroupDetail"}}}}}}},"/api/v1/groups/{groupId}/join":{"post":{"tags":["GroupRunning"],"summary":"그룹 러닝 참여","description":"모집 중인 그룹에 참여합니다. 같은 시간대에 이미 참여 중인 그룹이 있으면 거부됩니다.","operationId":"groupJoin","parameters":[{"name":"groupId","in":"path","description":"참여할 그룹 ID","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseLong"}}}}}}},"/api/v1/follows/{followId}/reject":{"post":{"tags":["Follow"],"summary":"친구 신청 거절","description":"받은 친구 신청을 거절합니다. 거절된 관계는 삭제됩니다.","operationId":"reject","parameters":[{"name":"followId","in":"path","description":"거절할 Follow ID","required":true,"schema":{"type":"string"},"example":"550e8400-e29b-41d4-a716-446655440000"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/follows/{followId}/accept":{"post":{"tags":["Follow"],"summary":"친구 신청 수락","description":"받은 친구 신청을 수락합니다. 수락 대상의 followId를 path에 전달하세요.","operationId":"accept","parameters":[{"name":"followId","in":"path","description":"수락할 Follow ID","required":true,"schema":{"type":"string"},"example":"550e8400-e29b-41d4-a716-446655440000"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/follows/request":{"post":{"tags":["Follow"],"summary":"친구 신청","description":"닉네임으로 상대방에게 친구 신청을 보냅니다. 이미 관계가 있으면 거부됩니다.","operationId":"request","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FollowSend"},"example":{"targetNickname":"달리기왕"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseFollowInfo"}}}}}}},"/api/v1/admin/title/grant":{"post":{"tags":["admin-controller"],"summary":"칭호 지급","description":"관리자용 유저에게 칭호 지급","operationId":"grantTitleToUser","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/addTitleToUser"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseTitleInfo"}}}}}}},"/api/v1/admin/title/add":{"post":{"tags":["admin-controller"],"summary":"칭호 추가","description":"관리자용 칭호 추가","operationId":"addNewTitle","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/addNewTitle"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseTitleInfo"}}}}}}},"/api/v1/admin/spots":{"get":{"tags":["admin-controller"],"operationId":"getSpots","parameters":[{"name":"keyword","in":"query","required":false,"schema":{"type":"string"}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponsePageSummary"}}}}}},"post":{"tags":["admin-controller"],"operationId":"createSpot","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Create"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{}}}}}}},"/api/v1/myroom/core-color":{"patch":{"tags":["MyRoom"],"summary":"코어 컬러 변경","description":"구매·보유한 코어 컬러로 변경합니다. 보유하지 않은 컬러로 변경 시 403을 반환합니다.","operationId":"changeCoreColor","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChangeCoreColorRequest"}}},"required":true},"responses":{"200":{"description":"컬러 변경 성공","content":{"application/json":{"example":{"success":true,"message":"코어 컬러 변경 성공","data":{"currentColorCode":"CORE_ORANGE"}}}}},"403":{"description":"보유하지 않은 컬러","content":{"application/json":{"example":{"code":"A005","message":" 접근 권한이 없습니다."}}}}}}},"/api/v1/groups/{groupId}":{"get":{"tags":["GroupRunning"],"summary":"그룹 러닝 상세 조회","description":"그룹 러닝 상세 정보를 조회합니다.\n- `isParticipating`: 내가 이 그룹에 참여 중인지 여부\n- `currentParticipants` / `maxParticipants`: 현재 인원 / 최대 인원\n- `location`: 장소명, `address`: 상세 주소\n","operationId":"groupDetailInfo","parameters":[{"name":"groupId","in":"path","description":"조회할 그룹 ID","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseGroupDetail"}}}}}},"delete":{"tags":["GroupRunning"],"summary":"그룹 러닝 삭제","description":"방장만 삭제 가능합니다. 소프트 딜리트 처리됩니다.","operationId":"groupDelete","parameters":[{"name":"groupId","in":"path","description":"삭제할 그룹 ID","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseString"}}}}}},"patch":{"tags":["GroupRunning"],"summary":"그룹 러닝 수정","description":"방장만 수정 가능합니다. 변경할 필드만 전달하면 되고, null로 전달된 필드는 기존 값을 유지합니다.","operationId":"groupEdit","parameters":[{"name":"groupId","in":"path","description":"수정할 그룹 ID","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateExtraRequest"},"example":{"title":"반포 한강 러닝 모집","maxParticipants":3}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseLong"}}}}}}},"/api/v1/admin/title/update":{"patch":{"tags":["admin-controller"],"summary":"칭호 정보 수정","description":"관리자용 칭호 정보 수정","operationId":"updateTitleInfo","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/updateTitleInfo"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseTitleInfo"}}}}}}},"/api/v1/admin/spots/{spotId}":{"get":{"tags":["admin-controller"],"operationId":"getSpotDetail","parameters":[{"name":"spotId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDetail"}}}}}},"delete":{"tags":["admin-controller"],"operationId":"deleteSpot","parameters":[{"name":"spotId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{}}}}}},"patch":{"tags":["admin-controller"],"operationId":"updateSpot","parameters":[{"name":"spotId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Update"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{}}}}}}},"/api/v1/admin/shop/items/{itemId}":{"patch":{"tags":["admin-controller"],"operationId":"updateShopItem","parameters":[{"name":"itemId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateItem"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseItem"}}}}}}},"/api/v1/admin/shop/items/{itemId}/active":{"patch":{"tags":["admin-controller"],"operationId":"updateShopItemActive","parameters":[{"name":"itemId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateItemActive"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseItem"}}}}}}},"/api/v1/admin/groups/{groupId}/status":{"patch":{"tags":["admin-controller"],"operationId":"updateGroupStatus","parameters":[{"name":"groupId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateStatus"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseStatusResult"}}}}}}},"/api/v1/title/all":{"get":{"tags":["Title"],"summary":"전체 칭호 목록 조회(도감용)","operationId":"getAllTitle","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListTitleInfo"}}}}}}},"/api/v1/spots/{spotId}":{"get":{"tags":["spot-controller"],"operationId":"getSpot","parameters":[{"name":"spotId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDetailInfo"}}}}}}},"/api/v1/spots/nearby":{"get":{"tags":["spot-controller"],"operationId":"getNearbySpots","parameters":[{"name":"dto","in":"query","required":true,"schema":{"$ref":"#/components/schemas/NearbySpotsRequest"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListSummaryInfo"}}}}}}},"/api/v1/shop/items":{"get":{"tags":["Shop"],"summary":"상품 목록 조회","description":"상점 상품 목록을 조회합니다.","operationId":"items","parameters":[{"name":"query","in":"query","description":"판매중인 상품만 조회","required":true,"schema":{"$ref":"#/components/schemas/ItemListQuery"},"example":true}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseItemList"}}}}}}},"/api/v1/runs/{runId}":{"get":{"tags":["Run"],"summary":"러닝 상세 조회","description":"러닝 상세(경로)를 조회합니다.","operationId":"detail","parameters":[{"name":"runId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseRunDetailResponse"}}}}}}},"/api/v1/rankings/weekly":{"get":{"tags":["Ranking"],"summary":"주간 랭킹","description":"월요일 시작 기준 주간 포인트 랭킹(전체 사용자)","operationId":"weekly","parameters":[{"name":"limit","in":"query","description":"조회 개수(기본값 서버에서 처리)","required":false,"schema":{"type":"integer","format":"int32"},"example":50}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseResult"}}}}}}},"/api/v1/rankings/monthly":{"get":{"tags":["Ranking"],"summary":"월간 랭킹","description":"월간 포인트 랭킹(전체 사용자). year/month 없으면 이번달","operationId":"monthly","parameters":[{"name":"year","in":"query","description":"연도(없으면 현재 연도)","required":false,"schema":{"type":"integer","format":"int32"},"example":2026},{"name":"month","in":"query","description":"월(1~12, 없으면 현재 월)","required":false,"schema":{"type":"integer","format":"int32"},"example":5},{"name":"limit","in":"query","description":"조회 개수(기본값 서버에서 처리)","required":false,"schema":{"type":"integer","format":"int32"},"example":50}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseResult"}}}}}}},"/api/v1/profile/search":{"get":{"tags":["Profile"],"summary":"유저 검색","description":"닉네임으로 유저 검색","operationId":"searchByNickname","parameters":[{"name":"nickname","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListSearchMemberSummary"}}}}}}},"/api/v1/profile/me":{"get":{"tags":["Profile"],"summary":"내 프로필 조회","description":"레벨, 총 달린 거리, 평균 페이스 등 내 정보 조회","operationId":"getMyProfile","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseMyProfile"}}}}}}},"/api/v1/points/me":{"get":{"tags":["Point"],"summary":"현재 포인트 조회","description":"현재 로그인한 사용자의 보유 포인트를 조회합니다.","operationId":"getCurrentPoints","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseCurrentPointResult"}}}}}}},"/api/v1/myroom":{"get":{"tags":["MyRoom"],"summary":"마이룸 조회","description":"로그인한 유저의 마이룸 정보를 조회합니다.\n- `equippedTitle`: 현재 장착 중인 칭호명 (없으면 null)\n- `colors`: 전체 코어 컬러 팔레트 + 구매(보유) 여부\n- `titles`: 전체 칭호 목록 + 획득 여부 (`owned: true`면 장착 가능)\n","operationId":"getMyRoom","parameters":[{"name":"query","in":"query","required":true,"schema":{"$ref":"#/components/schemas/MyRoomQuery"}}],"responses":{"200":{"description":"마이룸 조회 성공","content":{"application/json":{"example":{"success":true,"message":"마이룸 조회 성공","data":{"memberId":1,"nickname":"달리기왕","equippedTitle":"새싹 러너","currentColorCode":"CORE_ORANGE","colors":[{"code":"CORE_RED","name":"빨간색 코어","hex":"#E53935","owned":false},{"code":"CORE_ORANGE","name":"주황색 코어","hex":"#F57C00","owned":true},{"code":"CORE_BLACK","name":"검은색 코어","hex":"#212121","owned":false}],"titles":[{"titleId":1,"titleCode":"TITLE_001_START","name":"새싹 러너","rarity":"NORMAL","description":"새로운 출발과 함께 러닝이라는 재미를 느껴볼까?","owned":true},{"titleId":2,"titleCode":"TITLE_002","name":"런린이","rarity":"NORMAL","description":"첫 번째 러닝을 완료했어요!","owned":true},{"titleId":3,"titleCode":"TITLE_003","name":"스피드 킹","rarity":"RARE","description":"5km를 평균 페이스 4분대로 완주!","owned":false}]}}}}}}}},"/api/v1/members/search":{"get":{"tags":["profile-search-controller"],"operationId":"searchByNickname_1","parameters":[{"name":"nickname","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListSearchMemberSummary"}}}}}}},"/api/v1/members/me/runs":{"get":{"tags":["Run"],"summary":"내 러닝 목록 조회","description":"내 러닝 목록을 조회합니다.","operationId":"myRuns","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListMyRunSummaryResponse"}}}}}}},"/api/v1/members/me/runs/monthly-summary":{"get":{"tags":["Run"],"summary":"월별 러닝 요약","description":"year/month 기준 월별 요약을 조회합니다.","operationId":"monthlySummary","parameters":[{"name":"year","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"month","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseMonthlySummaryResponse"}}}}}}},"/api/v1/friends/feed":{"get":{"tags":["feed-controller"],"operationId":"feed","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListFeedItem"}}}}}}},"/api/v1/follows/requests":{"get":{"tags":["Follow"],"summary":"받은 친구 신청 목록 조회","description":"아직 수락하지 않은 PENDING 상태의 친구 신청 목록을 반환합니다. followId로 수락·거절 가능합니다.","operationId":"getPendingRequests","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListFollowMemberSummary"}}}}}}},"/api/v1/follows/followings":{"get":{"tags":["Follow"],"summary":"내 팔로잉 목록 조회","description":"내가 팔로우하는 친구 목록을 반환합니다. ACCEPTED 상태인 관계만 포함됩니다.","operationId":"getFollowings","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListFollowMemberSummary"}}}}}}},"/api/v1/follows/followers":{"get":{"tags":["Follow"],"summary":"내 팔로워 목록 조회","description":"나를 팔로우하는 친구 목록을 반환합니다. ACCEPTED 상태인 관계만 포함됩니다.","operationId":"getFollowers","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListFollowMemberSummary"}}}}}}},"/api/v1/admin/shop/items":{"get":{"tags":["admin-controller"],"operationId":"getShopItems","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListItem"}}}}}}},"/api/v1/admin/members":{"get":{"tags":["admin-controller"],"operationId":"getMembers","parameters":[{"name":"keyword","in":"query","required":false,"schema":{"type":"string"}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{}}}}}}},"/api/v1/admin/members/{memberId}":{"get":{"tags":["admin-controller"],"operationId":"getMemberDetail","parameters":[{"name":"memberId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{}}}}}}},"/api/v1/groups/{groupId}/members/me":{"delete":{"tags":["GroupRunning"],"summary":"그룹 러닝 나가기","description":"참여 중인 그룹에서 나갑니다. 러닝이 시작된 이후에는 나갈 수 없습니다.","operationId":"groupLeave","parameters":[{"name":"groupId","in":"path","description":"나갈 그룹 ID","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseString"}}}}}}},"/api/v1/follows/{followId}":{"delete":{"tags":["Follow"],"summary":"친구 삭제 / 신청 취소","description":"친구 관계를 끊거나 내가 보낸 친구 신청을 취소합니다. 팔로워·팔로잉 양쪽 모두 사용 가능합니다.","operationId":"deleteFollow","parameters":[{"name":"followId","in":"path","description":"삭제할 Follow ID","required":true,"schema":{"type":"string"},"example":"550e8400-e29b-41d4-a716-446655440000"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/admin/title/delete":{"delete":{"tags":["admin-controller"],"summary":"칭호 삭제","description":"관리자용 칭호 삭제","operationId":"deleteTitle","parameters":[{"name":"titleId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseString"}}}}}}}},"components":{"schemas":{"SpotCheckinRequest":{"type":"object","properties":{"runId":{"type":"integer","format":"int64"},"latitude":{"type":"number","format":"double","maximum":90.0,"minimum":-90.0},"longitude":{"type":"number","format":"double","maximum":180.0,"minimum":-180.0},"timestamp":{"type":"string","format":"date-time"}},"required":["latitude","longitude","runId"]},"ApiResponseSpotCheckinResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/SpotCheckinResponse"}}},"SpotCheckinResponse":{"type":"object","properties":{"spotName":{"type":"string","description":"스팟 이름","example":"해운대 해수욕장"},"earnedPoints":{"type":"integer","format":"int32","description":"얻은 포인트","example":10},"currentTotalPoints":{"type":"integer","format":"int32","description":"현재 보유 포인트","example":310},"visitLogId":{"type":"string","description":"방문 기록 ID","example":3},"earnedExp":{"type":"integer","format":"int64","description":"얻은 경험치","example":100},"isLevelUp":{"type":"boolean","description":"레벨업 유무(폭주 트리거용)","example":true},"currentLevel":{"type":"integer","format":"int32","description":"현재 레벨","example":15},"totalExp":{"type":"integer","format":"int64","description":"현재 총 경험치량(게이지 바 갱신용)","example":300}}},"Purchase":{"type":"object","properties":{"itemId":{"type":"integer","format":"int64","description":"구매할 상품 ID","example":1}},"required":["itemId"]},"ApiResponsePurchaseResult":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/PurchaseResult"}}},"PurchaseResult":{"type":"object","properties":{"purchaseId":{"type":"integer","format":"int64","description":"구매 ID","example":10},"itemId":{"type":"integer","format":"int64","description":"상품 ID","example":1},"itemCode":{"type":"string","description":"상품 코드","example":"CORE_RED"},"itemName":{"type":"string","description":"상품명","example":"빨간색 코어"},"hexColor":{"type":"string","description":"HEX","example":"#E53935"},"paidPoints":{"type":"integer","format":"int32","description":"지불한 포인트","example":500},"currentTotalPoints":{"type":"integer","format":"int32","description":"구매 후 보유 포인트","example":250},"purchasedAt":{"type":"string","format":"date-time","description":"구매 시각","example":"2026-05-14T10:30:00"}}},"LatLng":{"type":"object","description":"위경도 좌표","properties":{"lat":{"type":"number","format":"double","description":"위도(latitude)","example":35.1126},"lng":{"type":"number","format":"double","description":"경도(longitude)","example":128.9655}}},"RunFinishRequest":{"type":"object","description":"러닝 종료 요청","properties":{"endTime":{"type":"string","format":"date-time","description":"러닝 종료 시간","example":"2026-05-14T10:30:00"},"realStartTime":{"type":"string","format":"date-time","description":"GPS 기반 실제 러닝 시작 시간 (페이스 계산용)","example":"2026-05-14T10:00:05"},"path":{"type":"array","description":"러닝 경로 좌표 리스트 (최소 2개)","example":[{"lat":35.1126,"lng":128.9655},{"lat":35.1128,"lng":128.9657}],"items":{"$ref":"#/components/schemas/LatLng"}}},"required":["endTime","realStartTime"]},"ApiResponseRunFinishResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/RunFinishResponse"}}},"RunFinishResponse":{"type":"object","description":"러닝 종료 응답","properties":{"runId":{"type":"integer","format":"int64","description":"러닝 ID","example":10},"totalDistanceKm":{"type":"number","format":"double","description":"총 거리(km, 소수 2자리)","example":3.25},"earnedPoints":{"type":"integer","format":"int32","description":"획득 포인트","example":100},"avgPace":{"type":"number","format":"double","description":"평균 페이스","example":4.0}}},"RunStartRequest":{"type":"object","description":"러닝 시작 요청","properties":{"startTime":{"type":"string","format":"date-time","description":"러닝 시작 시간","example":"2026-05-14T10:00:00"}},"required":["startTime"]},"ApiResponseRunStartResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/RunStartResponse"}}},"RunStartResponse":{"type":"object","description":"러닝 시작 응답","properties":{"runId":{"type":"integer","format":"int64","description":"러닝 ID","example":10},"memberId":{"type":"integer","format":"int64","description":"회원 ID","example":1}}},"ApiResponseMyProfileTitle":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/MyProfileTitle"}}},"MyProfileTitle":{"type":"object","description":"칭호 장착 반환값","properties":{"titleId":{"type":"integer","format":"int64","description":"칭호 ID","example":1},"name":{"type":"string","description":"칭호 이름","example":"런린이"}}},"PasswordChange":{"type":"object","description":"비밀번호 변경 요청","properties":{"이전 비밀번호":{"type":"string","example":"username1234@naver.com"},"새로운 비밀번호":{"type":"string","example":"mskim5322@naver.com","maxLength":2147483647,"minLength":8}},"required":["새로운 비밀번호","이전 비밀번호"]},"ApiResponseString":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"string"}}},"Login":{"type":"object","description":"로그인 요청","properties":{"email":{"type":"string","description":"이메일","example":"username1234@naver.com"},"password":{"type":"string","description":"비밀번호","example":"password1234","maxLength":30,"minLength":8}},"required":["email","password"]},"ApiResponseLoginResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/LoginResponse"}}},"LoginResponse":{"type":"object","properties":{"grantType":{"type":"string","description":"토큰 종류","example":"Bearer"},"accessToken":{"type":"string","description":"AT 값","example":"eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1c2VybmFtZUBuYXZlci5jb20iLCJhdXRoIjoiUk9MRV9VU0VSIiwiZXhwIjoxNzcwOTA4MjQxfQ.7mVWxIEHxv2n8ZFiB04A1cSZk1naaZj8xVFC23vlo14"},"refreshToken":{"type":"string","description":"RT 값","example":"eyJhbGciOiJIUzI1NiJ9.eyJleHAiOjE3NzE1MTEyNDF9.aFrQuRDDFzd-OuXtgTPkLoe0KBRwtsSf-crCjgTUKNk"},"accessTokenExpiresIn":{"type":"integer","format":"int64","description":"AT 만료시간","example":1770908241768},"nickname":{"type":"string","description":"닉네임","example":"프로틴괴물"},"role":{"type":"string","description":"역할","example":"ADMIN"},"coreColorCode":{"type":"string","description":"장착 색깔 코드","example":"CORE_RAINBOW"},"equippedTitleCode":{"type":"string","description":"장착 칭호","example":"TITLE_001_GOLD"}}},"Join":{"type":"object","description":"회원가입 요청","properties":{"email":{"type":"string","description":"사용자 이메일","example":"username1234@naver.com"},"password":{"type":"string","description":"비밀번호","example":"password1234","maxLength":30,"minLength":8},"nickname":{"type":"string","description":"닉네임","example":"얌얌욤욤","maxLength":2147483647,"minLength":2},"realname":{"type":"string","description":"실명","example":"박재현"}},"required":["email","nickname","password","realname"]},"ApiResponseLong":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"integer","format":"int64"}}},"groupAdd":{"type":"object","description":"그룹 러닝 생성 요청","properties":{"title":{"type":"string","description":"모집글 제목","example":"한강 저녁 러닝 같이 달려요!"},"content":{"type":"string","description":"모집글 내용","example":"페이스 6분대 환영, 반포대교 집합입니다."},"maxParticipants":{"type":"integer","format":"int32","description":"최대 참여 인원 (2~5)","example":4},"startTime":{"type":"string","format":"date-time","description":"러닝 시작 시간","example":"2026-06-10T19:00:00"},"endTime":{"type":"string","format":"date-time","description":"러닝 종료 예정 시간","example":"2026-06-10T20:00:00"},"distance":{"type":"integer","format":"int32","description":"러닝 목표 거리 (km)","example":5},"location":{"type":"string","description":"러닝 장소명","example":"반포 한강공원"},"address":{"type":"string","description":"러닝 장소 주소","example":"서울특별시 서초구 반포동 1"},"lat":{"type":"number","format":"double","description":"러닝 장소 위도","example":37.5133},"lon":{"type":"number","format":"double","description":"러닝 장소 경도","example":126.9947}}},"ApiResponseGroupDetail":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/GroupDetail"}}},"GroupDetail":{"type":"object","description":"그룹 러닝 상세 정보","properties":{"groupId":{"type":"integer","format":"int64","description":"그룹 ID","example":1},"title":{"type":"string","description":"모집글 제목","example":"한강 저녁 러닝 같이 달려요!"},"hostNickname":{"type":"string","description":"방장 닉네임","example":"달리기왕"},"status":{"type":"string","description":"그룹 상태","enum":["RECRUITING","RUNNING","COMPLETED","CANCELED"],"example":"RECRUITING"},"currentParticipants":{"type":"integer","format":"int32","description":"현재 참여 인원","example":2},"maxParticipants":{"type":"integer","format":"int32","description":"최대 참여 인원 (2~5)","example":4},"location":{"type":"string","description":"러닝 장소명","example":"반포 한강공원"},"address":{"type":"string","description":"러닝 장소 주소","example":"서울특별시 서초구 반포동 1"},"isParticipating":{"type":"boolean","description":"내가 이 그룹에 참여 중인지 여부","example":true},"participantNicknames":{"type":"array","description":"참여자 닉네임 목록","example":["달리기왕","마라토너"],"items":{"type":"string"}},"startTime":{"type":"string","format":"date-time","description":"러닝 시작 시간","example":"2026-06-10T19:00:00"},"endTime":{"type":"string","format":"date-time","description":"러닝 종료 예정 시간","example":"2026-06-10T20:00:00"},"lat":{"type":"number","format":"double","description":"러닝 장소 위도","example":37.5133},"lon":{"type":"number","format":"double","description":"러닝 장소 경도","example":126.9947}}},"ApiResponseVoid":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"object"}}},"FollowSend":{"type":"object","description":"닉네임으로 친구 신청 요청","properties":{"targetNickname":{"type":"string","description":"찾을 닉네임","example":"얌얌욤욤"}},"required":["targetNickname"]},"ApiResponseFollowInfo":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/FollowInfo"}}},"FollowInfo":{"type":"object","description":"친구 신청 결과","properties":{"followId":{"type":"string","description":"Follow ID (수락·거절·삭제 시 사용)","example":"550e8400-e29b-41d4-a716-446655440000"},"followerId":{"type":"integer","format":"int64","description":"신청한 사람 ID","example":1},"followerNickname":{"type":"string","description":"신청한 사람 닉네임","example":"내닉네임"},"followingId":{"type":"integer","format":"int64","description":"신청받은 사람 ID","example":2},"followingNickname":{"type":"string","description":"신청받은 사람 닉네임","example":"달리기왕"},"status":{"type":"string","description":"관계 상태","enum":["PENDING","ACCEPTED"],"example":"PENDING"},"createdAt":{"type":"string","format":"date-time","description":"신청 시각","example":"2026-06-06T13:00:00"}}},"addTitleToUser":{"type":"object","properties":{"titleCode":{"type":"string"}}},"ApiResponseTitleInfo":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/TitleInfo"}}},"TitleInfo":{"type":"object","description":"칭호 정보","properties":{"id":{"type":"integer","format":"int64","description":"칭호 ID","example":1},"name":{"type":"string","description":"칭호 이름","example":42.195,"maxLength":10,"minLength":1},"titleCode":{"type":"string","description":"프론트와 약속한 코드","example":"TITLE_001_GOLD","maxLength":15,"minLength":1},"rarity":{"type":"string","description":"칭호 등급","enum":["NORMAL","RARE","EPIC","LEGENDARY"],"example":"EPIC"},"expBonusRatio":{"type":"number","format":"double","description":"경험치 보너스 배율","example":0.05,"minimum":0.01},"pointBonusRatio":{"type":"number","format":"double","description":"포인트 보너스 배율","example":0.06,"minimum":0.01},"description":{"type":"string","description":"칭호 획득 방법 및 설명","example":"일주일 당 42.195 km 씩 1달 동안 달리면 얻을 수 있는 칭호이다.\n꾸준한 사람만이 가질 수 있달까? 이 정도면 나름 러너라고 당당하게 이야기하고 다니자!","maxLength":150,"minLength":1}},"required":["description","expBonusRatio","id","name","pointBonusRatio","rarity","titleCode"]},"addNewTitle":{"type":"object","properties":{"name":{"type":"string","description":"칭호 이름","example":42.195,"maxLength":10,"minLength":1},"titleCode":{"type":"string","description":"프론트와 약속한 코드","example":"TITLE_001_GOLD","maxLength":15,"minLength":1},"rarity":{"type":"string","description":"칭호 등급","enum":["NORMAL","RARE","EPIC","LEGENDARY"],"example":"EPIC"},"expBonusRatio":{"type":"number","format":"double","description":"경험치 보너스 배율","example":0.05,"minimum":0.01},"pointBonusRatio":{"type":"number","format":"double","description":"포인트 보너스 배율","example":0.06,"minimum":0.01},"description":{"type":"string","description":"칭호 획득 방법 및 설명","example":"일주일 당 42.195 km 씩 1달 동안 달리면 얻을 수 있는 칭호이다.\n꾸준한 사람만이 가질 수 있달까? 이 정도면 나름 러너라고 당당하게 이야기하고 다니자!","maxLength":150,"minLength":1}},"required":["description","expBonusRatio","name","pointBonusRatio","rarity","titleCode"]},"Create":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"},"imageUrl":{"type":"string"},"rewardAmount":{"type":"integer","format":"int32","maximum":10000,"minimum":0},"latitude":{"type":"number","format":"double"},"longitude":{"type":"number","format":"double"}},"required":["name"]},"ChangeCoreColorRequest":{"type":"object","description":"코어 컬러 변경 요청","properties":{"colorCode":{"type":"string","description":"변경할 코어 컬러 코드","example":"CORE_ORANGE"}},"required":["colorCode"]},"UpdateExtraRequest":{"type":"object","description":"그룹 러닝 정보 수정 요청 (null 필드는 변경하지 않음)","properties":{"title":{"type":"string","description":"모집글 제목 (변경 시에만 전달)","example":"반포 한강 러닝 모집"},"content":{"type":"string","description":"모집글 내용 (변경 시에만 전달)","example":"페이스 무관 환영합니다!"},"maxParticipants":{"type":"integer","format":"int32","description":"최대 참여 인원 (변경 시에만 전달, 2~5)","example":3},"startTime":{"type":"string","format":"date-time","description":"러닝 시작 시간 (변경 시에만 전달)","example":"2026-06-10T20:00:00"},"endTime":{"type":"string","format":"date-time","description":"러닝 종료 예정 시간 (변경 시에만 전달)","example":"2026-06-10T21:00:00"},"distance":{"type":"integer","format":"int32","description":"러닝 목표 거리 (변경 시에만 전달, km)","example":7},"address":{"type":"string","description":"러닝 장소 주소 (변경 시에만 전달)","example":"서울특별시 서초구 반포동 1"},"location":{"type":"string","description":"러닝 장소명 (변경 시에만 전달)","example":"반포 한강공원 2주차"}}},"updateTitleInfo":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":"정보 변경할 칭호 ID","example":1},"name":{"type":"string","description":"칭호 이름","example":42.195,"maxLength":10,"minLength":1},"titleCode":{"type":"string","description":"프론트와 약속한 코드","example":"TITLE_001_GOLD","maxLength":15,"minLength":1},"rarity":{"type":"string","description":"칭호 등급","enum":["NORMAL","RARE","EPIC","LEGENDARY"],"example":"EPIC"},"expBonusRatio":{"type":"number","format":"double","description":"경험치 보너스 배율","example":0.05,"minimum":0.01},"pointBonusRatio":{"type":"number","format":"double","description":"포인트 보너스 배율","example":0.06,"minimum":0.01},"description":{"type":"string","description":"칭호 획득 방법 및 설명","example":"일주일 당 42.195 km 씩 1달 동안 달리면 얻을 수 있는 칭호이다.\n꾸준한 사람만이 가질 수 있달까? 이 정도면 나름 러너라고 당당하게 이야기하고 다니자!","maxLength":150,"minLength":1}},"required":["id"]},"Update":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"},"imageUrl":{"type":"string"},"rewardAmount":{"type":"integer","format":"int32","maximum":10000,"minimum":0},"latitude":{"type":"number","format":"double"},"longitude":{"type":"number","format":"double"}}},"UpdateItem":{"type":"object","properties":{"code":{"type":"string"},"name":{"type":"string"},"hexColor":{"type":"string"},"price":{"type":"integer","format":"int32","minimum":0},"active":{"type":"boolean"}}},"ApiResponseItem":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/Item"}}},"Item":{"type":"object","properties":{"itemId":{"type":"integer","format":"int64"},"code":{"type":"string"},"name":{"type":"string"},"hexColor":{"type":"string"},"price":{"type":"integer","format":"int32"},"active":{"type":"boolean"}}},"UpdateItemActive":{"type":"object","properties":{"active":{"type":"boolean"}},"required":["active"]},"UpdateStatus":{"type":"object","properties":{"status":{"type":"string","enum":["RECRUITING","RUNNING","COMPLETED","CANCELED"]}},"required":["status"]},"ApiResponseStatusResult":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/StatusResult"}}},"StatusResult":{"type":"object","properties":{"groupId":{"type":"integer","format":"int64"},"status":{"type":"string"}}},"ApiResponseListTitleInfo":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/TitleInfo"}}}},"ApiResponseDetailInfo":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/DetailInfo"}}},"DetailInfo":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"description":{"type":"string"},"rewardAmount":{"type":"integer","format":"int32","maximum":10000,"minimum":0},"latitude":{"type":"number","format":"double"},"longitude":{"type":"number","format":"double"}}},"NearbySpotsRequest":{"type":"object","properties":{"latitude":{"type":"number","format":"double"},"longitude":{"type":"number","format":"double"},"radius":{"type":"number","format":"double"}}},"ApiResponseListSummaryInfo":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/SummaryInfo"}}}},"SummaryInfo":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"rewardAmount":{"type":"integer","format":"int32","maximum":10000,"minimum":0},"latitude":{"type":"number","format":"double"},"longitude":{"type":"number","format":"double"},"canCheckIn":{"type":"boolean"}}},"ItemListQuery":{"type":"object","properties":{"onlyActive":{"type":"boolean","description":"판매중(active) 상품만 조회 여부","example":true}}},"ApiResponseItemList":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/ItemList"}}},"ItemList":{"type":"object","properties":{"items":{"type":"array","description":"상품 목록","items":{"$ref":"#/components/schemas/Item"}}}},"ApiResponseRunDetailResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/RunDetailResponse"}}},"RunDetailResponse":{"type":"object","description":"러닝 상세(경로) 응답","properties":{"runId":{"type":"integer","format":"int64","description":"러닝 ID","example":10},"totalDistanceKm":{"type":"number","format":"double","description":"총 거리(km, 소수 2자리)","example":3.25},"totalTimeSeconds":{"type":"integer","format":"int32","description":"총 러닝 시간(초)","example":1230},"avgPace":{"type":"number","format":"double","description":"평균 페이스(분/km)","example":6.0},"path":{"type":"array","description":"러닝 경로 좌표 리스트","example":[{"lat":35.1126,"lng":128.9655},{"lat":35.1128,"lng":128.9657}],"items":{"$ref":"#/components/schemas/LatLng"}}}},"ApiResponseResult":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/Result"}}},"Result":{"type":"object","properties":{"type":{"type":"string","description":"랭킹 타입","enum":["WEEKLY","MONTHLY"],"example":"WEEKLY"},"periodStart":{"type":"string","format":"date-time","description":"기간 시작(포함)","example":"2026-05-04T00:00:00"},"periodEnd":{"type":"string","format":"date-time","description":"기간 끝(미포함)","example":"2026-05-11T00:00:00"},"items":{"type":"array","description":"랭킹 항목 리스트","items":{"$ref":"#/components/schemas/Item"}}}},"ApiResponseListSearchMemberSummary":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/SearchMemberSummary"}}}},"SearchMemberSummary":{"type":"object","description":"닉네임 검색 결과","properties":{"memberId":{"type":"integer","format":"int64","description":"회원 ID","example":1},"nickname":{"type":"string","description":"닉네임","example":"달리기왕"},"level":{"type":"integer","format":"int32","description":"레벨","example":12},"totalDistance":{"type":"number","format":"double","description":"총 달린 거리 (km)","example":124.8},"avgPace":{"type":"number","format":"double","description":"평균 페이스 (분/km)","example":5.42},"equippedTitleName":{"type":"string","description":"장착 중인 칭호","example":"런린이"},"relationStatus":{"type":"string","description":"나와의 관계","enum":["NONE","PENDING_SENT","PENDING_RECEIVED","FRIEND"],"example":"NONE"}}},"ApiResponseMyProfile":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/MyProfile"}}},"MyProfile":{"type":"object","description":"내 정보 조회 반환값","properties":{"nickname":{"type":"string","description":"닉네임","example":"얌얌욤욤"},"level":{"type":"integer","format":"int32","description":"레벨","example":12},"totalDistance":{"type":"number","format":"double","description":"총 거리","example":124.8},"avgPace":{"type":"number","format":"double","description":"평균 페이스","example":5.42},"equippedTitleName":{"type":"string","description":"장착한 칭호","example":"런린이"}},"required":["avgPace","equippedTitleName","level","nickname","totalDistance"]},"ApiResponseCurrentPointResult":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/CurrentPointResult"}}},"CurrentPointResult":{"type":"object","description":"현재 포인트 조회 응답","properties":{"currentTotalPoints":{"type":"integer","format":"int32","description":"현재 보유 포인트","example":250}}},"MyRoomQuery":{"type":"object","description":"마이룸 조회 쿼리(현재는 파라미터 없음)"},"ApiResponseListMyRunSummaryResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/MyRunSummaryResponse"}}}},"MyRunSummaryResponse":{"type":"object","description":"내 러닝 목록 요약 응답","properties":{"runId":{"type":"integer","format":"int64","description":"러닝 ID","example":10},"startTime":{"type":"string","format":"date-time","description":"러닝 시작 시간","example":"2026-05-14T10:00:00"},"totalDistanceKm":{"type":"number","format":"double","description":"총 거리(km, 소수 2자리)","example":3.25},"avgPace":{"type":"number","format":"double","description":"평균 페이스","example":4.0}}},"ApiResponseMonthlySummaryResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/MonthlySummaryResponse"}}},"MonthlySummaryResponse":{"type":"object","description":"월별 러닝 요약 응답","properties":{"year":{"type":"integer","format":"int32","description":"연도","example":2026},"month":{"type":"integer","format":"int32","description":"월","example":5},"totalRuns":{"type":"integer","format":"int32","description":"총 러닝 횟수","example":12},"totalDistanceKm":{"type":"number","format":"double","description":"총 거리(km)","example":42.15},"avgDistanceKm":{"type":"number","format":"double","description":"평균 거리(km)","example":3.51},"bestDistanceKm":{"type":"number","format":"double","description":"최장 거리(km)","example":10.0},"avgPace":{"type":"number","format":"double","description":"평균 페이스(분/km)","example":6.0},"earnedPoints":{"type":"integer","format":"int32","description":"획득 포인트 합","example":250}}},"Pageable":{"type":"object","properties":{"page":{"type":"integer","format":"int32","minimum":0},"size":{"type":"integer","format":"int32","minimum":1},"sort":{"type":"array","items":{"type":"string"}}}},"ApiResponseSliceGroupSummary":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/SliceGroupSummary"}}},"GroupSummary":{"type":"object","description":"그룹 러닝 목록 요약","properties":{"groupId":{"type":"integer","format":"int64","description":"그룹 ID","example":1},"title":{"type":"string","description":"모집글 제목","example":"한강 저녁 러닝 같이 달려요!"},"hostNickname":{"type":"string","description":"방장 닉네임","example":"달리기왕"},"currentParticipants":{"type":"integer","format":"int32","description":"현재 참여 인원","example":2},"maxParticipants":{"type":"integer","format":"int32","description":"최대 참여 인원 (2~5)","example":4},"startTime":{"type":"string","format":"date-time","description":"러닝 시작 시간","example":"2026-06-10T19:00:00"},"status":{"type":"string","description":"그룹 상태","enum":["RECRUITING","RUNNING","COMPLETED","CANCELED"],"example":"RECRUITING"},"createdAt":{"type":"string","format":"date-time","description":"모집글 생성 시간","example":"2026-06-05T12:00:00"},"isParticipating":{"type":"boolean","description":"내가 이 그룹에 참여 중인지 여부","example":false},"location":{"type":"string","description":"러닝 장소명","example":"반포 한강공원"}}},"Pageablenull":{"type":"object","properties":{"offset":{"type":"integer","format":"int64"},"sort":{"$ref":"#/components/schemas/Sortnull"},"paged":{"type":"boolean"},"pageNumber":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"},"unpaged":{"type":"boolean"}}},"SliceGroupSummary":{"type":"object","properties":{"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/GroupSummary"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/Sortnull"},"first":{"type":"boolean"},"last":{"type":"boolean"},"numberOfElements":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/Pageablenull"},"empty":{"type":"boolean"}}},"Sortnull":{"type":"object","properties":{"empty":{"type":"boolean"},"sorted":{"type":"boolean"},"unsorted":{"type":"boolean"}}},"ApiResponseListFeedItem":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/FeedItem"}}}},"FeedItem":{"type":"object","properties":{"type":{"type":"string"},"runId":{"type":"integer","format":"int64"},"memberId":{"type":"integer","format":"int64"},"nickname":{"type":"string"},"totalDistance":{"type":"number","format":"double"},"startTime":{"type":"string","format":"date-time"}}},"ApiResponseListFollowMemberSummary":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/FollowMemberSummary"}}}},"FollowMemberSummary":{"type":"object","description":"팔로워·팔로잉 목록 항목","properties":{"followId":{"type":"string","description":"Follow ID (삭제 시 사용)","example":"550e8400-e29b-41d4-a716-446655440000"},"memberId":{"type":"integer","format":"int64","description":"회원 ID","example":2},"nickname":{"type":"string","description":"닉네임","example":"달리기왕"}}},"ApiResponsePageSummary":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/PageSummary"}}},"PageSummary":{"type":"object","properties":{"totalPages":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/Summary"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/Sortnull"},"first":{"type":"boolean"},"last":{"type":"boolean"},"numberOfElements":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/Pageablenull"},"empty":{"type":"boolean"}}},"Summary":{"type":"object","properties":{"spotId":{"type":"integer","format":"int64"},"name":{"type":"string"},"rewardAmount":{"type":"integer","format":"int32"},"latitude":{"type":"number","format":"double"},"longitude":{"type":"number","format":"double"}}},"ApiResponseDetail":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/Detail"}}},"Detail":{"type":"object","properties":{"spotId":{"type":"integer","format":"int64"},"name":{"type":"string"},"description":{"type":"string"},"imageUrl":{"type":"string"},"rewardAmount":{"type":"integer","format":"int32"},"latitude":{"type":"number","format":"double"},"longitude":{"type":"number","format":"double"}}},"ApiResponseListItem":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/Item"}}}}},"securitySchemes":{"bearerAuth":{"type":"http","name":"Authorization","in":"header","scheme":"bearer","bearerFormat":"JWT"}}}}