{"openapi":"3.1.0","info":{"title":"OpenAPI definition","version":"v0"},"servers":[{"url":"http://api.baton-running-app.kro.kr:8080","description":"Generated server url"}],"security":[{"bearerAuth":[]}],"tags":[{"name":"Member","description":"계정 관련 API"},{"name":"Run","description":"러닝 기록"},{"name":"Profile","description":"프로필 관련 API"},{"name":"Shop","description":"포인트 상점"},{"name":"Ranking","description":"주간/월간 랭킹"},{"name":"MyRoom","description":"마이룸(코어 컬러)"},{"name":"Title","description":"칭호 관련 API"}],"paths":{"/deploy":{"post":{"tags":["deploy-controller"],"operationId":"deploy","parameters":[{"name":"X-Deploy-Secret","in":"header","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string"}}}}}}},"/api/v1/spots/{spotId}/checkin":{"post":{"tags":["spot-controller"],"operationId":"checkin","parameters":[{"name":"spotId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SpotCheckinRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseSpotCheckinResponse"}}}}}}},"/api/v1/shop/purchases":{"post":{"tags":["Shop"],"summary":"상품 구매","description":"포인트를 차감하고 구매 내역을 저장합니다.","operationId":"purchase","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Purchase"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponsePurchaseResult"}}}}}}},"/api/v1/runs/{runId}/finish":{"post":{"tags":["Run"],"summary":"러닝 종료","description":"러닝을 종료하고 경로 기반 거리/포인트를 저장합니다.","operationId":"finish","parameters":[{"name":"runId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RunFinishRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseRunFinishResponse"}}}}}}},"/api/v1/runs/start":{"post":{"tags":["Run"],"summary":"러닝 시작","description":"러닝을 시작합니다.","operationId":"start","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RunStartRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseRunStartResponse"}}}}}}},"/api/v1/profile/equip":{"post":{"tags":["Profile"],"summary":"칭호 장착","description":"소유하고 있는 칭호 장착","operationId":"equipTitle","parameters":[{"name":"titleId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseMyProfileTitle"}}}}}}},"/api/v1/member/password":{"post":{"tags":["Member"],"summary":"비밀번호 변경","description":"기존 비번 확인 후 새 비번으로 변경 (변경 후 토큰 만료)","operationId":"changePassword","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PasswordChange"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseString"}}}}}}},"/api/v1/member/logout":{"post":{"tags":["Member"],"operationId":"logout","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseString"}}}}}}},"/api/v1/member/login":{"post":{"tags":["Member"],"operationId":"login","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Login"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseLoginResponse"}}}}}}},"/api/v1/member/join":{"post":{"tags":["Member"],"summary":"회원가입","description":"새로운 사용자 회원가입","operationId":"join","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Join"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseLong"}}}}}}},"/api/v1/groups":{"get":{"tags":["group-run-controller"],"operationId":"groupList","parameters":[{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseSliceGroupSummary"}}}}}},"post":{"tags":["group-run-controller"],"operationId":"groupAdd","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/groupAdd"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseLong"}}}}}}},"/api/v1/groups/{groupId}/run/start":{"post":{"tags":["group-run-controller"],"operationId":"runStart","parameters":[{"name":"groupId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseGroupDetail"}}}}}}},"/api/v1/groups/{groupId}/run/finish":{"post":{"tags":["group-run-controller"],"operationId":"runFinish","parameters":[{"name":"groupId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseGroupDetail"}}}}}}},"/api/v1/groups/{groupId}/join":{"post":{"tags":["group-run-controller"],"operationId":"groupJoin","parameters":[{"name":"groupId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseLong"}}}}}}},"/api/v1/follows/{followId}/reject":{"post":{"tags":["follow-controller"],"operationId":"reject","parameters":[{"name":"followId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/follows/{followId}/accept":{"post":{"tags":["follow-controller"],"operationId":"accept","parameters":[{"name":"followId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/follows/request":{"post":{"tags":["follow-controller"],"operationId":"request","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FollowSend"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseFollowInfo"}}}}}}},"/api/v1/admin/title/add":{"post":{"tags":["admin-controller"],"summary":"칭호 추가","description":"관리자용 칭호 추가","operationId":"addNewTitle","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/addNewTitle"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseTitleInfo"}}}}}}},"/api/v1/admin/spots":{"post":{"tags":["admin-controller"],"operationId":"createSpot","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Create"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{}}}}}}},"/api/v1/myroom/core-color":{"patch":{"tags":["MyRoom"],"summary":"코어 컬러 변경","description":"구매/보유한 코어 컬러로 변경합니다.","operationId":"changeCoreColor","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChangeCoreColorRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseChangeCoreColorResult"}}}}}}},"/api/v1/groups/{groupId}":{"delete":{"tags":["group-run-controller"],"operationId":"groupDelete","parameters":[{"name":"groupId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseString"}}}}}},"patch":{"tags":["group-run-controller"],"operationId":"groupEdit","parameters":[{"name":"groupId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateExtraRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseLong"}}}}}}},"/api/v1/admin/title/update":{"patch":{"tags":["admin-controller"],"summary":"칭호 정보 수정","description":"관리자용 칭호 정보 수정","operationId":"updateTitleInfo","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/updateTitleInfo"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseTitleInfo"}}}}}}},"/api/v1/admin/spots/{spotId}":{"delete":{"tags":["admin-controller"],"operationId":"deleteSpot","parameters":[{"name":"spotId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{}}}}}},"patch":{"tags":["admin-controller"],"operationId":"updateSpot","parameters":[{"name":"spotId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Update"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{}}}}}}},"/api/v1/title/all":{"get":{"tags":["Title"],"summary":"전체 칭호 목록 조회(도감용)","operationId":"getAllTitle","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListTitleInfo"}}}}}}},"/api/v1/spots/{spotId}":{"get":{"tags":["spot-controller"],"operationId":"getSpot","parameters":[{"name":"spotId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseDetailInfo"}}}}}}},"/api/v1/spots/nearby":{"get":{"tags":["spot-controller"],"operationId":"getNearbySpots","parameters":[{"name":"dto","in":"query","required":true,"schema":{"$ref":"#/components/schemas/NearbySpotsRequest"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListSummaryInfo"}}}}}}},"/api/v1/shop/items":{"get":{"tags":["Shop"],"summary":"상품 목록 조회","description":"상점 상품 목록을 조회합니다.","operationId":"items","parameters":[{"name":"query","in":"query","description":"판매중인 상품만 조회","required":true,"schema":{"$ref":"#/components/schemas/ItemListQuery"},"example":true}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseItemList"}}}}}}},"/api/v1/runs/{runId}":{"get":{"tags":["Run"],"summary":"러닝 상세 조회","description":"러닝 상세(경로)를 조회합니다.","operationId":"detail","parameters":[{"name":"runId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseRunDetailResponse"}}}}}}},"/api/v1/rankings/weekly":{"get":{"tags":["Ranking"],"summary":"주간 랭킹","description":"월요일 시작 기준 주간 포인트 랭킹(전체 사용자)","operationId":"weekly","parameters":[{"name":"limit","in":"query","description":"조회 개수(기본값 서버에서 처리)","required":false,"schema":{"type":"integer","format":"int32"},"example":50}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseResult"}}}}}}},"/api/v1/rankings/monthly":{"get":{"tags":["Ranking"],"summary":"월간 랭킹","description":"월간 포인트 랭킹(전체 사용자). year/month 없으면 이번달","operationId":"monthly","parameters":[{"name":"year","in":"query","description":"연도(없으면 현재 연도)","required":false,"schema":{"type":"integer","format":"int32"},"example":2026},{"name":"month","in":"query","description":"월(1~12, 없으면 현재 월)","required":false,"schema":{"type":"integer","format":"int32"},"example":5},{"name":"limit","in":"query","description":"조회 개수(기본값 서버에서 처리)","required":false,"schema":{"type":"integer","format":"int32"},"example":50}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseResult"}}}}}}},"/api/v1/profile/search":{"get":{"tags":["Profile"],"summary":"유저 검색","description":"닉네임으로 유저 검색","operationId":"searchByNickname","parameters":[{"name":"nickname","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListSearchMemberSummary"}}}}}}},"/api/v1/profile/me":{"get":{"tags":["Profile"],"summary":"내 프로필 조회","description":"레벨, 총 달린 거리, 평균 페이스 등 내 정보 조회","operationId":"getMyProfile","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseMyProfile"}}}}}}},"/api/v1/myroom":{"get":{"tags":["MyRoom"],"summary":"마이룸 조회","description":"닉네임/장착칭호/현재 코어컬러/팔레트를 조회합니다.","operationId":"getMyRoom","parameters":[{"name":"query","in":"query","required":true,"schema":{"$ref":"#/components/schemas/MyRoomQuery"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseMyRoomResult"}}}}}}},"/api/v1/members/search":{"get":{"tags":["profile-search-controller"],"operationId":"searchByNickname_1","parameters":[{"name":"nickname","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListSearchMemberSummary"}}}}}}},"/api/v1/members/me/runs":{"get":{"tags":["Run"],"summary":"내 러닝 목록 조회","description":"내 러닝 목록을 조회합니다.","operationId":"myRuns","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListMyRunSummaryResponse"}}}}}}},"/api/v1/members/me/runs/monthly-summary":{"get":{"tags":["Run"],"summary":"월별 러닝 요약","description":"year/month 기준 월별 요약을 조회합니다.","operationId":"monthlySummary","parameters":[{"name":"year","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"month","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseMonthlySummaryResponse"}}}}}}},"/api/v1/friends/feed":{"get":{"tags":["feed-controller"],"operationId":"feed","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListFeedItem"}}}}}}},"/api/v1/admin/members":{"get":{"tags":["admin-controller"],"operationId":"getMembers","parameters":[{"name":"keyword","in":"query","required":false,"schema":{"type":"string"}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{}}}}}}},"/api/v1/admin/members/{memberId}":{"get":{"tags":["admin-controller"],"operationId":"getMemberDetail","parameters":[{"name":"memberId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{}}}}}}},"/api/v1/groups/{groupId}/members/me":{"delete":{"tags":["group-run-controller"],"operationId":"groupLeave","parameters":[{"name":"groupId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseString"}}}}}}},"/api/v1/follows/{followId}":{"delete":{"tags":["follow-controller"],"operationId":"deleteFollow","parameters":[{"name":"followId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/admin/title/delete":{"delete":{"tags":["admin-controller"],"summary":"칭호 삭제","description":"관리자용 칭호 삭제","operationId":"deleteTitle","parameters":[{"name":"titleId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseString"}}}}}}}},"components":{"schemas":{"SpotCheckinRequest":{"type":"object","properties":{"runId":{"type":"integer","format":"int64"},"latitude":{"type":"number","format":"double"},"longitude":{"type":"number","format":"double"},"timestamp":{"type":"string","format":"date-time"}}},"ApiResponseSpotCheckinResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/SpotCheckinResponse"}}},"SpotCheckinResponse":{"type":"object","properties":{"spotName":{"type":"string","description":"스팟 이름","example":"해운대 해수욕장"},"earnedPoints":{"type":"integer","format":"int32","description":"얻은 포인트","example":10},"currentTotalPoints":{"type":"integer","format":"int32","description":"현재 보유 포인트","example":310},"visitLogId":{"type":"string","description":"방문 기록 ID","example":3},"earnedExp":{"type":"integer","format":"int64","description":"얻은 경험치","example":100},"isLevelUp":{"type":"boolean","description":"레벨업 유무(폭주 트리거용)","example":true},"currentLevel":{"type":"integer","format":"int32","description":"현재 레벨","example":15},"totalExp":{"type":"integer","format":"int64","description":"현재 총 경험치량(게이지 바 갱신용)","example":300}}},"Purchase":{"type":"object","properties":{"itemId":{"type":"integer","format":"int64","description":"구매할 상품 ID","example":1}},"required":["itemId"]},"ApiResponsePurchaseResult":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/PurchaseResult"}}},"PurchaseResult":{"type":"object","properties":{"purchaseId":{"type":"integer","format":"int64","description":"구매 ID","example":10},"itemId":{"type":"integer","format":"int64","description":"상품 ID","example":1},"itemName":{"type":"string","description":"상품명","example":"빨간색 캐릭터"},"paidPoints":{"type":"integer","format":"int32","description":"지불한 포인트","example":1000},"currentTotalPoints":{"type":"integer","format":"int32","description":"구매 후 보유 포인트","example":250},"purchasedAt":{"type":"string","format":"date-time","description":"구매 시각","example":"2026-05-14T10:30:00"}}},"LatLng":{"type":"object","description":"위경도 좌표","properties":{"lat":{"type":"number","format":"double","description":"위도(latitude)","example":35.1126},"lng":{"type":"number","format":"double","description":"경도(longitude)","example":128.9655}}},"RunFinishRequest":{"type":"object","description":"러닝 종료 요청","properties":{"endTime":{"type":"string","format":"date-time","description":"러닝 종료 시간","example":"2026-05-14T10:30:00"},"path":{"type":"array","description":"러닝 경로 좌표 리스트 (최소 2개)","example":[{"lat":35.1126,"lng":128.9655},{"lat":35.1128,"lng":128.9657}],"items":{"$ref":"#/components/schemas/LatLng"},"maxItems":2147483647,"minItems":2}},"required":["endTime","path"]},"ApiResponseRunFinishResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/RunFinishResponse"}}},"RunFinishResponse":{"type":"object","description":"러닝 종료 응답","properties":{"runId":{"type":"integer","format":"int64","description":"러닝 ID","example":10},"totalDistanceKm":{"type":"number","format":"double","description":"총 거리(km, 소수 2자리)","example":3.25},"earnedPoints":{"type":"integer","format":"int32","description":"획득 포인트","example":100}}},"RunStartRequest":{"type":"object","description":"러닝 시작 요청","properties":{"startTime":{"type":"string","format":"date-time","description":"러닝 시작 시간","example":"2026-05-14T10:00:00"}},"required":["startTime"]},"ApiResponseRunStartResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/RunStartResponse"}}},"RunStartResponse":{"type":"object","description":"러닝 시작 응답","properties":{"runId":{"type":"integer","format":"int64","description":"러닝 ID","example":10},"memberId":{"type":"integer","format":"int64","description":"회원 ID","example":1}}},"ApiResponseMyProfileTitle":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/MyProfileTitle"}}},"MyProfileTitle":{"type":"object","description":"칭호 장착 반환값","properties":{"titleId":{"type":"integer","format":"int64","description":"칭호 ID","example":1},"name":{"type":"string","description":"칭호 이름","example":"런린이"}}},"PasswordChange":{"type":"object","description":"비밀번호 변경 요청","properties":{"이전 비밀번호":{"type":"string","example":"username1234@naver.com"},"새로운 비밀번호":{"type":"string","example":"mskim5322@naver.com","maxLength":2147483647,"minLength":8}},"required":["새로운 비밀번호","이전 비밀번호"]},"ApiResponseString":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"string"}}},"Login":{"type":"object","description":"로그인 요청","properties":{"email":{"type":"string","description":"이메일","example":"username1234@naver.com"},"password":{"type":"string","description":"비밀번호","example":"password1234","maxLength":30,"minLength":8}},"required":["email","password"]},"ApiResponseLoginResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/LoginResponse"}}},"LoginResponse":{"type":"object","properties":{"grantType":{"type":"string","description":"토큰 종류","example":"Bearer"},"accessToken":{"type":"string","description":"AT 값","example":"eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1c2VybmFtZUBuYXZlci5jb20iLCJhdXRoIjoiUk9MRV9VU0VSIiwiZXhwIjoxNzcwOTA4MjQxfQ.7mVWxIEHxv2n8ZFiB04A1cSZk1naaZj8xVFC23vlo14"},"refreshToken":{"type":"string","description":"RT 값","example":"eyJhbGciOiJIUzI1NiJ9.eyJleHAiOjE3NzE1MTEyNDF9.aFrQuRDDFzd-OuXtgTPkLoe0KBRwtsSf-crCjgTUKNk"},"accessTokenExpiresIn":{"type":"integer","format":"int64","description":"AT 만료시간","example":1770908241768},"nickname":{"type":"string","description":"닉네임","example":"프로틴괴물"},"role":{"type":"string","description":"역할","example":"ADMIN"},"coreColorCode":{"type":"string","description":"장착 색깔 코드","example":"CORE_RAINBOW"},"equippedTitleCode":{"type":"string","description":"장착 칭호","example":"TITLE_001_GOLD"}}},"Join":{"type":"object","description":"회원가입 요청","properties":{"email":{"type":"string","description":"사용자 이메일","example":"username1234@naver.com"},"password":{"type":"string","description":"비밀번호","example":"password1234","maxLength":30,"minLength":8},"nickname":{"type":"string","description":"닉네임","example":"얌얌욤욤","maxLength":2147483647,"minLength":2},"realname":{"type":"string","description":"실명","example":"박재현"}},"required":["email","nickname","password","realname"]},"ApiResponseLong":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"integer","format":"int64"}}},"groupAdd":{"type":"object","properties":{"title":{"type":"string"},"content":{"type":"string"},"maxParticipants":{"type":"integer","format":"int32"},"startTime":{"type":"string","format":"date-time"},"endTime":{"type":"string","format":"date-time"},"distance":{"type":"integer","format":"int32"},"location":{"type":"string"},"address":{"type":"string"}}},"ApiResponseGroupDetail":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/GroupDetail"}}},"GroupDetail":{"type":"object","properties":{"groupId":{"type":"integer","format":"int64"},"title":{"type":"string"},"hostNickname":{"type":"string"},"status":{"type":"string"},"participantNicknames":{"type":"array","items":{"type":"string"}}}},"ApiResponseVoid":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"object"}}},"FollowSend":{"type":"object","description":"닉네임으로 친구 신청 요청","properties":{"targetNickname":{"type":"string","description":"찾을 닉네임","example":"얌얌욤욤"}},"required":["targetNickname"]},"ApiResponseFollowInfo":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/FollowInfo"}}},"FollowInfo":{"type":"object","properties":{"followId":{"type":"string"},"followerId":{"type":"integer","format":"int64"},"followerNickname":{"type":"string"},"followingId":{"type":"integer","format":"int64"},"followingNickname":{"type":"string"},"status":{"type":"string"},"createdAt":{"type":"string","format":"date-time"}}},"addNewTitle":{"type":"object","properties":{"name":{"type":"string","description":"칭호 이름","example":42.195,"maxLength":10,"minLength":1},"titleCode":{"type":"string","description":"프론트와 약속한 코드","example":"TITLE_001_GOLD","maxLength":15,"minLength":1},"rarity":{"type":"string","description":"칭호 등급","enum":["NORMAL","RARE","EPIC","LEGENDARY"],"example":"EPIC"},"expBonusRatio":{"type":"number","format":"double","description":"경험치 보너스 배율","example":0.05,"minimum":0.01},"pointBonusRatio":{"type":"number","format":"double","description":"포인트 보너스 배율","example":0.06,"minimum":0.01},"description":{"type":"string","description":"칭호 획득 방법 및 설명","example":"일주일 당 42.195 km 씩 1달 동안 달리면 얻을 수 있는 칭호이다.\n꾸준한 사람만이 가질 수 있달까? 이 정도면 나름 러너라고 당당하게 이야기하고 다니자!","maxLength":150,"minLength":1}},"required":["description","expBonusRatio","name","pointBonusRatio","rarity","titleCode"]},"ApiResponseTitleInfo":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/TitleInfo"}}},"TitleInfo":{"type":"object","description":"칭호 정보","properties":{"id":{"type":"integer","format":"int64","description":"칭호 ID","example":1},"name":{"type":"string","description":"칭호 이름","example":42.195,"maxLength":10,"minLength":1},"titleCode":{"type":"string","description":"프론트와 약속한 코드","example":"TITLE_001_GOLD","maxLength":15,"minLength":1},"rarity":{"type":"string","description":"칭호 등급","enum":["NORMAL","RARE","EPIC","LEGENDARY"],"example":"EPIC"},"expBonusRatio":{"type":"number","format":"double","description":"경험치 보너스 배율","example":0.05,"minimum":0.01},"pointBonusRatio":{"type":"number","format":"double","description":"포인트 보너스 배율","example":0.06,"minimum":0.01},"description":{"type":"string","description":"칭호 획득 방법 및 설명","example":"일주일 당 42.195 km 씩 1달 동안 달리면 얻을 수 있는 칭호이다.\n꾸준한 사람만이 가질 수 있달까? 이 정도면 나름 러너라고 당당하게 이야기하고 다니자!","maxLength":150,"minLength":1}},"required":["description","expBonusRatio","id","name","pointBonusRatio","rarity","titleCode"]},"Create":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"},"imageUrl":{"type":"string"},"rewardAmount":{"type":"integer","format":"int32","maximum":10000,"minimum":0},"latitude":{"type":"number","format":"double"},"longitude":{"type":"number","format":"double"}},"required":["name"]},"ChangeCoreColorRequest":{"type":"object","description":"코어 컬러 변경 요청","properties":{"colorCode":{"type":"string","description":"변경할 코어 컬러 코드","example":"CORE_RED"}},"required":["colorCode"]},"ApiResponseChangeCoreColorResult":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/ChangeCoreColorResult"}}},"ChangeCoreColorResult":{"type":"object","description":"코어 컬러 변경 응답","properties":{"currentColorCode":{"type":"string","description":"변경된 코어 컬러 코드","example":"CORE_BLUE"}}},"UpdateExtraRequest":{"type":"object","properties":{"title":{"type":"string"},"content":{"type":"string"},"maxParticipants":{"type":"integer","format":"int32"},"startTime":{"type":"string","format":"date-time"},"endTime":{"type":"string","format":"date-time"},"distance":{"type":"integer","format":"int32"},"address":{"type":"string"},"location":{"type":"string"}}},"updateTitleInfo":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":"정보 변경할 칭호 ID","example":1},"name":{"type":"string","description":"칭호 이름","example":42.195,"maxLength":10,"minLength":1},"titleCode":{"type":"string","description":"프론트와 약속한 코드","example":"TITLE_001_GOLD","maxLength":15,"minLength":1},"rarity":{"type":"string","description":"칭호 등급","enum":["NORMAL","RARE","EPIC","LEGENDARY"],"example":"EPIC"},"expBonusRatio":{"type":"number","format":"double","description":"경험치 보너스 배율","example":0.05,"minimum":0.01},"pointBonusRatio":{"type":"number","format":"double","description":"포인트 보너스 배율","example":0.06,"minimum":0.01},"description":{"type":"string","description":"칭호 획득 방법 및 설명","example":"일주일 당 42.195 km 씩 1달 동안 달리면 얻을 수 있는 칭호이다.\n꾸준한 사람만이 가질 수 있달까? 이 정도면 나름 러너라고 당당하게 이야기하고 다니자!","maxLength":150,"minLength":1}},"required":["id"]},"Update":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"},"imageUrl":{"type":"string"},"rewardAmount":{"type":"integer","format":"int32","maximum":10000,"minimum":0},"latitude":{"type":"number","format":"double"},"longitude":{"type":"number","format":"double"}}},"ApiResponseListTitleInfo":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/TitleInfo"}}}},"ApiResponseDetailInfo":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/DetailInfo"}}},"DetailInfo":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"description":{"type":"string"},"rewardAmount":{"type":"integer","format":"int32","maximum":10000,"minimum":0},"latitude":{"type":"number","format":"double"},"longitude":{"type":"number","format":"double"}}},"NearbySpotsRequest":{"type":"object","properties":{"latitude":{"type":"number","format":"double"},"longitude":{"type":"number","format":"double"},"radius":{"type":"number","format":"double"}}},"ApiResponseListSummaryInfo":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/SummaryInfo"}}}},"SummaryInfo":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"rewardAmount":{"type":"integer","format":"int32","maximum":10000,"minimum":0},"latitude":{"type":"number","format":"double"},"longitude":{"type":"number","format":"double"},"canCheckIn":{"type":"boolean"}}},"ItemListQuery":{"type":"object","properties":{"onlyActive":{"type":"boolean","description":"판매중(active) 상품만 조회 여부","example":true}}},"ApiResponseItemList":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/ItemList"}}},"Item":{"type":"object","properties":{"itemId":{"type":"integer","format":"int64","description":"상품 ID","example":1},"code":{"type":"string","description":"상품 코드","example":"CHAR_RED"},"name":{"type":"string","description":"상품명","example":"빨간색 캐릭터"},"price":{"type":"integer","format":"int32","description":"가격(포인트)","example":1000},"active":{"type":"boolean","description":"판매중 여부","example":true}}},"ItemList":{"type":"object","properties":{"items":{"type":"array","description":"상품 목록","items":{"$ref":"#/components/schemas/Item"}}}},"ApiResponseRunDetailResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/RunDetailResponse"}}},"RunDetailResponse":{"type":"object","description":"러닝 상세(경로) 응답","properties":{"runId":{"type":"integer","format":"int64","description":"러닝 ID","example":10},"path":{"type":"array","description":"러닝 경로 좌표 리스트","example":[{"lat":35.1126,"lng":128.9655},{"lat":35.1128,"lng":128.9657}],"items":{"$ref":"#/components/schemas/LatLng"}}}},"ApiResponseResult":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/Result"}}},"Result":{"type":"object","properties":{"type":{"type":"string","description":"랭킹 타입","enum":["WEEKLY","MONTHLY"],"example":"WEEKLY"},"periodStart":{"type":"string","format":"date-time","description":"기간 시작(포함)","example":"2026-05-04T00:00:00"},"periodEnd":{"type":"string","format":"date-time","description":"기간 끝(미포함)","example":"2026-05-11T00:00:00"},"items":{"type":"array","description":"랭킹 항목 리스트","items":{"$ref":"#/components/schemas/Item"}}}},"ApiResponseListSearchMemberSummary":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/SearchMemberSummary"}}}},"SearchMemberSummary":{"type":"object","properties":{"memberId":{"type":"integer","format":"int64"},"nickname":{"type":"string"},"relationStatus":{"type":"string"}}},"ApiResponseMyProfile":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/MyProfile"}}},"MyProfile":{"type":"object","description":"내 정보 조회 반환값","properties":{"nickname":{"type":"string","description":"닉네임","example":"얌얌욤욤"},"level":{"type":"integer","format":"int32","description":"레벨","example":12},"totalDistance":{"type":"number","format":"double","description":"총 거리","example":124.8},"avgPace":{"type":"number","format":"double","description":"평균 페이스","example":5.42},"equippedTitleName":{"type":"string","description":"장착한 칭호","example":"런린이"}},"required":["avgPace","equippedTitleName","level","nickname","totalDistance"]},"MyRoomQuery":{"type":"object","description":"마이룸 조회 쿼리(현재는 파라미터 없음)"},"ApiResponseMyRoomResult":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/MyRoomResult"}}},"MyRoomColorItem":{"type":"object","description":"코어 컬러 아이템","properties":{"code":{"type":"string","description":"컬러 코드","example":"CORE_RED"},"name":{"type":"string","description":"표시 이름","example":"빨간색 코어"},"hex":{"type":"string","description":"HEX","example":"#C85A3E"},"owned":{"type":"boolean","description":"보유 여부(구매했는지)","example":true}}},"MyRoomResult":{"type":"object","description":"마이룸 조회 응답","properties":{"memberId":{"type":"integer","format":"int64","description":"회원 ID","example":1},"nickname":{"type":"string","description":"닉네임","example":"세찬짱"},"equippedTitle":{"type":"string","description":"장착 칭호","example":"Dawn Runner"},"currentColorCode":{"type":"string","description":"현재 코어 컬러 코드","example":"CORE_RED"},"colors":{"type":"array","description":"코어 컬러 목록(팔레트)","items":{"$ref":"#/components/schemas/MyRoomColorItem"}}}},"ApiResponseListMyRunSummaryResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/MyRunSummaryResponse"}}}},"MyRunSummaryResponse":{"type":"object","description":"내 러닝 목록 요약 응답","properties":{"runId":{"type":"integer","format":"int64","description":"러닝 ID","example":10},"startTime":{"type":"string","format":"date-time","description":"러닝 시작 시간","example":"2026-05-14T10:00:00"},"totalDistanceKm":{"type":"number","format":"double","description":"총 거리(km, 소수 2자리)","example":3.25}}},"ApiResponseMonthlySummaryResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/MonthlySummaryResponse"}}},"MonthlySummaryResponse":{"type":"object","description":"월별 러닝 요약 응답","properties":{"year":{"type":"integer","format":"int32","description":"연도","example":2026},"month":{"type":"integer","format":"int32","description":"월","example":5},"totalRuns":{"type":"integer","format":"int32","description":"총 러닝 횟수","example":12},"totalDistanceKm":{"type":"number","format":"double","description":"총 거리(km)","example":42.15},"avgDistanceKm":{"type":"number","format":"double","description":"평균 거리(km)","example":3.51},"bestDistanceKm":{"type":"number","format":"double","description":"최장 거리(km)","example":10.0},"avgPaceSecPerKm":{"type":"integer","format":"int32","description":"평균 페이스(초/km)","example":360},"avgPaceText":{"type":"string","description":"평균 페이스 표시(mm:ss)","example":"06:00"},"earnedPoints":{"type":"integer","format":"int32","description":"획득 포인트 합","example":250}}},"Pageable":{"type":"object","properties":{"page":{"type":"integer","format":"int32","minimum":0},"size":{"type":"integer","format":"int32","minimum":1},"sort":{"type":"array","items":{"type":"string"}}}},"ApiResponseSliceGroupSummary":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/SliceGroupSummary"}}},"GroupSummary":{"type":"object","properties":{"groupId":{"type":"integer","format":"int64"},"title":{"type":"string"},"hostNickname":{"type":"string"},"currentParticipants":{"type":"integer","format":"int32"},"maxParticipants":{"type":"integer","format":"int32"},"startTime":{"type":"string","format":"date-time"},"status":{"type":"string"},"createdAt":{"type":"string","format":"date-time"}}},"Pageablenull":{"type":"object","properties":{"offset":{"type":"integer","format":"int64"},"sort":{"$ref":"#/components/schemas/Sortnull"},"paged":{"type":"boolean"},"pageNumber":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"},"unpaged":{"type":"boolean"}}},"SliceGroupSummary":{"type":"object","properties":{"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/GroupSummary"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/Sortnull"},"first":{"type":"boolean"},"last":{"type":"boolean"},"numberOfElements":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/Pageablenull"},"empty":{"type":"boolean"}}},"Sortnull":{"type":"object","properties":{"empty":{"type":"boolean"},"sorted":{"type":"boolean"},"unsorted":{"type":"boolean"}}},"ApiResponseListFeedItem":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/FeedItem"}}}},"FeedItem":{"type":"object","properties":{"type":{"type":"string"},"runId":{"type":"integer","format":"int64"},"memberId":{"type":"integer","format":"int64"},"nickname":{"type":"string"},"totalDistance":{"type":"number","format":"double"},"startTime":{"type":"string","format":"date-time"}}}},"securitySchemes":{"bearerAuth":{"type":"http","name":"Authorization","in":"header","scheme":"bearer","bearerFormat":"JWT"}}}}